// app global css in SCSS form

$vims-dark-blue: #212433;
$vims-medium-blue: #075c7a;
$vims-light-blue: #a8ccdf;

$vims-dark-green: #294738;
$vims-medium-green: #73c69e;
$vims-light-green: #acdac2;

$vims-dark-gray: #555555;
$vims-light-gray: #ababab;

.text-dark-blue {
  color: $vims-dark-blue;
}
.viewing-stats {
  border: 2px solid $vims-medium-blue;
  padding: 24px;
  color: $vims-medium-blue;
  align-items: center;

  div {
    font-size: 16px;
    font-weight: bold;
  }
}

.results-title {
  align-items: center;
}
.title-font {
  font-size: 16px;
  font-weight: bold;
}

.result-details-container {
  border: 2px solid $vims-medium-blue;
  padding: 16px;
}
.result-details-header {
  background-color: $vims-medium-blue;
  align-items: center;
  color: white;
}
.result-details-header-text-1 {
  font-size: 24px;
  font-weight: 600;
}
.result-details-header-text-2 {
  color: #dddddd;
  font-size: 18px;
  font-weight: 500;
}

.tooltip-header {
  font-size: 24px;
  font-weight: 500;
  color: $vims-medium-blue;
}
.tooltip-text {
  font-size: 16px;
  color: $vims-dark-gray;
}

.map-details-container {
  font-family: "Roboto", sans-serif;
}
.map-details-header {
  border: 5px solid $vims-medium-blue;
  align-items: center;
  color: $vims-medium-blue;
}
.map-details-header-text-1 {
  font-size: 18px;
  font-weight: 600;
}
.map-details-header-text-2 {
  color: $vims-dark-gray;
  font-size: 14px;
  font-weight: 500;
}
.mapboxgl-popup-close-button {
  color: $vims-medium-blue;
  size: 24px;
  font-size: 24px;
}

mapboxgl-popup {
  max-width: 500px;
}
